.main
{
    display:none;
}
.lead
{
    padding-top: 15px;
}
.lead_1
{
    float:right;
    margin-top:20px;
}
button
{
    width: 20%;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://images.homedepot-static.com/productImages/f9736958-9681-49c3-b030-591168f00b46/svn/brewster-wallpaper-2686-21249-64_1000.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
} 
input[type=button], input[type=reset], input[type=submit] {
    height: 40%;
    -webkit-appearance: button;
    cursor: pointer;
    width: 25%;
}
.jumbotron {
    padding-top: 15px;
    padding-bottom: 5px;
}
